header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid rgba(231, 232, 232, 0.335);
    position: relative;
    overflow: hidden;
}

.latar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    z-index: 2;
}

.logo {
    height: 90px;
}

h1 {
    color: rgba(231, 232, 232, 0.627);
    margin: 0;
    margin-left: auto; /* Pindahkan h1 ke sisi paling kanan */
}

/* Body */
body {
    background: linear-gradient(to right, #161616,  #07295f);
}

#mainContainer {
    background-color: #00000089;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    margin: 30px auto 20px; /* margin atas, horizontal (kiri & kanan), bawah */
    text-align: center;
    width: 60%;
}

#outputArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Input Area */
#inputArea{
    color: #ceeef5;
    padding-top: 50px;
    padding-bottom: 100px;
}
#btnAdd  {
    color: rgb(0, 0, 0);
    border: 2px solid #ceeef5; /* Green */
    background-color: #068585;
    cursor: pointer;
    margin: 10px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: ease 0.30s;
}
#btnAdd:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(56, 42, 165);
    /* border: 2px solid rgb(42, 37, 68); */
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}

#lgnd{
    width:200px;
    height:200px;
    display:inline-block;
    left:515px;
    position:absolute;
    color: whitesmoke;
}
.lbl{
    width:10px;
    display:inline-block;
    height:10px;
}
.btn-lbl{
    background:rgb(0, 0, 0);
    color:#fff;
    cursor:pointer;
    transition-duration:.2s;
    text-align:center;
    line-height:0.5;
    padding:5px;
    border-radius:2px;
}
.btn-lbl:hover{
    background:rgb(87, 87, 87);
}

/* Penjelasan */

.intro {
    background-color: #00000089;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    margin: 30px auto 20px; /* margin atas, horizontal (kiri & kanan), bawah */
    text-align: center;
    width: 60%;
}

.intro h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #b1acac; /* Warna putih */
    text-align: left;
    width: 70%;
    margin: 0 auto 10px auto; /* Membuat h2 berada di tengah dan memiliki margin bawah */
    padding-left: 0; /* Menghapus padding kiri */
}

.intro hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #07295f, #b1acac); /* Warna garis */
    margin: 10px auto;
    width: 70%;
}

.intro h5 {
    font-size: 1em;
    color: #b1acac;
    width: 70%;
    margin: 0 auto; /* Membuat margin otomatis untuk membuat h5 berada di tengah */
    text-align: left; /* Jika teks di dalam h5 ingin disejajarkan ke kiri */
    line-height: 1.5; 
}

/*percobaan*/
*{
    padding:0;
    margin:0;
    box-sizing:border;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.banner{
    width:100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} /* supaya header diatas */

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.content{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 0, 5, 0.3),rgba(4, 1, 17, 0.3));
}

nav{
    width: 100%;
    position: fixed;
    background-color:rgb(13, 13, 93);
    box-shadow: 5px 5px 30px rgba(108, 107, 107, 0.459);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 70px;
    margin: 2vh;
    margin-left: 8%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar{
    display: flex;
    margin-right: 4vh;
}

@keyframes kelapKelip {
    0% {
        background: white;
        color: black;
    }
    50% {
        background: black;
        color: white;
    }
    100% {
        background: white;
        color: black;
    }
}

.navbar a {
    animation: kelapKelip 1s infinite;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
}


.navbar a:hover, .navbar a.active {
    animation: kelapKelip 1s infinite;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
}


.navbar a{
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 4px;
    font-weight: 500;   
    text-decoration: none;
    transition: ease 0.40s;
}


nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.title{
    text-decoration: none;
    /* display: inline-block; */
    font-size: 4vh;
    color: rgb(255, 255, 255);
    padding: 14px 17px;
    margin-top: 32vh;
    text-align: center;
    vertical-align: center;
}

.title h1{
    font-size: 10vh;
    text-shadow: 2px black;
    transition: ease 0.3s;
}

.title h1:hover{
    color:transparent;
    -webkit-text-stroke: 1px white;
    
} /* buat h1 nya berubah ubah */

.button{
    display: inline-block;
    margin-top:5vh;
    font-size: 25px;
    padding: 10px 30px;
    color:rgb(56, 42, 165);
    /* background-color:rgb(164, 44, 44); */
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: ease 0.30s;
}

.button:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(56, 42, 165);
    /* border: 2px solid rgb(42, 37, 68); */
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
}
