/* Input Area */
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputArea {
    min-width: 60em;
    max-width: 60em;
    min-height: 10em;
    max-height: 15em;
}

#btn {
    color: black;
    border: 2px solid #04AA6D; /* Green */
    cursor: pointer;
    margin: 10px;
}

/* Output Area */
.output {
    margin-top: 10vh;
    position: relative;
    display: flex;
    min-height: 100vh; /* Ensure the container covers the entire viewport height */
    flex: 1; /* Let the table container grow to fill available space */
    display: flex;
    align-items: flex-start; /* Align items at the start */
}

#frequencyTable, #moreinfoTable {
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-right: 10px;
    border: 1px solid #ccc; /* Add border for visualization */
}
th{
    padding-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
td{
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: 1px solid;
}

/* Histogram Part! */
.histogramContainer {
    margin-left: 1px; /* Add margin to separate it from the table */   
    background-color: gainsboro;
    min-height: 50vh;
    display: flex;
    transform: scaleY(-1);
}
.bar {
    display: inline-block;
    width: 20px; /* Width of each bar */
}
