.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-text{
    display: inline-block;
    
}
#table {
    align-items: center;
    padding: 10px;
}
#data_raw {
    min-width: 60em;
    max-width: 60em;
    min-height: 10em;
    max-height: 15em;
}
#btn {
    color: black;
    border: 2px solid #04AA6D; /* Green */
    cursor: pointer;
    margin: 10px;
}